[package]
edition.workspace = true
name              = "moltis-gateway"
version.workspace = true

[dependencies]
anyhow                = { workspace = true }
async-trait           = "0.1"
axum                  = { workspace = true }
directories.workspace = true
futures               = { workspace = true }
hostname              = "0.4"
moltis-agents         = { workspace = true }
moltis-canvas         = { workspace = true }
moltis-channels       = { workspace = true }
moltis-common         = { workspace = true }
moltis-config         = { workspace = true }
moltis-cron           = { workspace = true }
moltis-media          = { workspace = true }
moltis-oauth          = { workspace = true }
moltis-plugins        = { workspace = true }
moltis-projects       = { workspace = true }
moltis-protocol       = { workspace = true }
moltis-routing        = { workspace = true }
moltis-sessions       = { workspace = true }
moltis-telegram       = { workspace = true }
moltis-tools          = { workspace = true }
reqwest               = { workspace = true }
serde                 = { workspace = true }
serde_json            = { workspace = true }
sqlx                  = { workspace = true }
tokio                 = { workspace = true }
tokio-stream          = { workspace = true }
tokio-tungstenite     = { workspace = true }
toml                  = { workspace = true }
tower-http            = { features = ["cors"], version = "0.6" }
tracing               = { workspace = true }
tracing-subscriber    = { workspace = true }
uuid                  = { workspace = true }

[features]
default = ["web-ui"]
web-ui  = []

[dev-dependencies]
reqwest           = { workspace = true }
sqlx              = { workspace = true }
tempfile          = "3"
tokio-tungstenite = { workspace = true }
